<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="ReportsFw.Properties.Settings.BDTitanConnectionString"
            connectionString="Data Source=titandbserver.database.windows.net;Initial Catalog=BDTitan;Persist Security Info=True;User ID=dbuser;Password=T1t4nDbS0l"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>