@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
sknjsdgskjh


<bold-report-viewer id="viewer"
                    report-service-url="/api/ReportViewer"
                    dataSources="ViewBag.dataSources"
                    report-path="test2.rdl">
</bold-report-viewer>

aqui auqi